body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.trip {
    position: relative;
    width: 100%;
    height: 90vh; /* 100% of the viewport height */
    background: url('../Assets/hello.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.trip-content {
    width: 50%;
    height: 125px;
    background-color: rgba(245, 245, 245, 0.886);
    padding: 20px;
    text-align: center;
    /* margin-bottom: 20px; /* Adjust as needed for spacing from bottom */
} */

.trip-content .subtext {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.trip-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.trip-content .read-time {
    font-size: 12px;
    color: gray;
}
