body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.trending {
    background-color: rgb(186, 183, 183);
    /* background: linear-gradient(180deg, rgb(180, 180, 180)0%,#f1fff522 100%); */
    padding: 20px;
}

.upper-div, .middle-div, .lower-div, .last-div {
    margin-bottom: 30px;
}

.upper-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 150px;
    justify-content: space-evenly;
}

.categories a {
    text-decoration: none;
    color: inherit;
  }
  
  .categories span {
    display: block;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Junge", cursive;
    text-align: right;
  }

.health-text {
    max-width: 50%;
    margin-left: 20px; 
    padding-right: 30px;
}

.health-text p {
    font-family: "Junge", cursive; 
    font-size: 20px;
}

.middle-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.img-container {
    width: 30%;
    position: relative;
    text-align: center;
}

.img-container .img {
    background: url('../Assets/trend.jpg') no-repeat center center;
    width: 300px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

.img-container h2 {
    text-align: center;
    margin-top: 10px;
    color: grey;
}

.lower-div {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.lower-div h1 {
    font-style: oblique;
    font-family: "Noto Serif Display", serif;
    font-size: 60px;
}

.last-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; 
    margin-left: 550px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px 10px;
}

.line h3 {
    font-weight: bold;
    font-size: 20px;
}

.line h4 {
    margin: 0;
    font-weight: 15;
}

.line p {
    margin: 0;
}
